.card {
    margin-bottom: 96px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item1 {
        position: relative;
        text-align: center;
    }

    &__item2 {
        position: relative;
        text-align: center;
    }

    &__item3 {
        position: relative;
        text-align: center;
    }

    &__item1::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-image: url(../images/card-bg-1.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 106px;
        height: 106px;
        top: -50px;
        left: 120px;
    }

    &__item2::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-image: url(../images/card-bg-2.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 106px;
        height: 106px;
        top: -50px;
        left: 120px;
    }

    &__item3::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-image: url(../images/card-bg-3.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 106px;
        height: 106px;
        top: -50px;
        left: 120px;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $secondary-juan-blue;
        display: inline-block;
        margin-bottom: 16px;
        margin-top: 82px;
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $third-light-juan-blue;
        width: 350px;
    }
}


// MEDIA

@media only screen and (max-width: 1070px) {
    .card__text {
        font-size: 14px;
        line-height: 24px;
        width: 280px;
    }

    .card__item1::before {
        left: 80px;
    }

    .card__item2::before {
        left: 80px;
    }

    .card__item3::before {
        left: 80px;
    }
}

@media only screen and (max-width: 860px) {
    .card__text {
        width: 240px;
    }

    .card__item1::before {
        left: 68px;
    }

    .card__item2::before {
        left: 68px;
    }

    .card__item3::before {
        left: 68px;
    }
}


// FOR TABLETS
@media only screen and (max-width: 768px) {
    .card__list {
        margin-top: 300px;
    }

    .card__text {
        width: 223px;
    }

    .card__item1::before {
        background-image: url(../images/card-tablet-before1.svg);
        width: 88px;
        height: 88px;
        left: 67px;
        top: -40px;
    }

    .card__item2::before {
        background-image: url(../images/card-tablet-before2.svg);
        width: 88px;
        height: 88px;
        left: 67px;
        top: -40px;
    }

    .card__item3::before {
        background-image: url(../images/card-tablet-before3.svg);
        width: 88px;
        height: 88px;
        left: 67px;
        top: -40px;
    }
}

@media only screen and (max-width: 720px) {
    .card__text {
        width: 150px;
    }

    .card__item1::before {
        left: 32px;
    }

    .card__item2::before {
        left: 32px;
    }

    .card__item3::before {
        left: 32px;
    }
}

@media only screen and (max-width: 576px) {
    .card__list {
        margin-top: 0;
        flex-direction: column;
    }

    .card__text {
        line-height: 25px;
        width: 328px;
        margin: 0;
        font-size: 15px;
        margin-bottom: 100px;
    }

    .card__text3 {
        margin-bottom: 0;
    }

    .card__item1::before {
        background-image: url(../images/card-bg-1.svg);
        width: 106px;
        height: 106px;
        left: 110px;
        top: -55px;
    }

    .card__item2::before {
        background-image: url(../images/card-bg-2.svg);
        width: 106px;
        height: 106px;
        left: 110px;
        top: -55px;
    }

    .card__item3::before {
        background-image: url(../images/card-bg-3.svg);
        width: 106px;
        height: 106px;
        left: 110px;
        top: -55px;
    }
}