.footer {
    background: $secondary-mirage-blue;
    padding: 32px 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 64px;
    }

    &__nav-list {
        display: flex;
        align-items: center;
    }

    &__nav-item {
        margin-right: 40px;
    }

    &__nav-link {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: $main-white;
        opacity: 0.7;
        transition: 0.2s ease;
    }

    &__nav-link:hover {
        opacity: 1;
    }

    &__nav-link:active {
        opacity: 0.8;
    }

    &__icons {
        margin-left: auto;
    }

    &__icons-link {
        margin-left: 24px;
        transition: 0.3s ease;
    }

    &__icons-link:hover svg > .icon {
        fill: $secondary-charm-pink;
    }

    &__icons-link:active svg > .icon {
        opacity: 0.5;
    }
}

// MEDIA

@media only screen and (max-width: 662px) {
    .footer__nav-item:last-child {
        margin-right: 0;
    }

    .footer__icons-link:first-child {
        margin-left: 0;
    }

    .footer__logo {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__icons {
        margin-left: 0;
        margin-top: 8px;
    }

    .footer__nav-list {
        flex-direction: column;
    }

    .footer__nav-item {
        margin: 0;
        margin-bottom: 31px;
    }
}