.intro {
    margin-bottom: 151px;
    // text-align: center;

    &__bg {
        background-image: url(../images/intro-bg-image.png);
        background-repeat: no-repeat;
        background-position: right calc(100% - 55px) top;
        position: absolute;
        height: 750px;
        width: 696px;
        top: -0px;
        right: 0;
        z-index: -1;
        // object-fit: contain;
    }

    &__title {
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        color: $secondary-juan-blue;
        width: 546px;
        height: 243px;
        margin-bottom: 21px;
    }

    &__text {
        font-size: 15px;
        line-height: 18px;
        color: #6C8294;
        font-weight: 400;
        margin-left: 27px;

        span {
            font-weight: bold;
        }
    }

    &__right-img {
        display: none;
    }
}


// MEDIA FOR DESKTOP

@media only screen and (max-width: 1220px) {
    .intro__bg {
        width: 550px;
    }

    .intro__title {
        font-size: 70px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 1024px) {
    .intro__bg {
        width: 500px;
    }

    .intro__title {
        font-size: 65px;
        line-height: 65px;
        width: 500px;
    }
}

@media only screen and (max-width: 935px) {
    .intro__bg {
        width: 450px;
    }

    .intro__title {
        line-height: 60px;
        width: 400px;
        font-size: 50px;
    }
}


// TABLETS
@media only screen and (max-width: 768px) {
    .intro {
        text-align: center;
    }

    .form-btn {
        left: 412px;
    }

    .intro__bg {
        background-image: url(../images/tablet-intro-img.png);
        background-repeat: no-repeat;
        background-position: center top;
        width: 100%;
    }

    .intro__title {
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        width: 573px;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        height: 0;
        margin-bottom: 150px;
    }

    .intro__right-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -150px;
    }
}

@media only screen and (max-width: 600px) {
    .intro__title {
        font-size: 46px;
        line-height: 56px;
        width: 490px;
    }
}