.intro {

    &__bg {
        background-image: url(../images/intro-bg-image.png);
        background-repeat: no-repeat;
        background-position: right calc(100% - 55px) top;
        position: absolute;
        height: 750px;
        width: 696px;
        top: -0px;
        right: 0;
        z-index: -1;
    }

    &__title {
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        color: $secondary-juan-blue;
        width: 546px;
        height: 243px;
        margin-bottom: 21px;
    }
}