.nav__list {
    display: flex;
    align-items: center;
}

.intro__hr {
    display: none;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 15px;
    line-height: 18px;
    color: $secondary-juan-blue;
    opacity: 0.7;
    font-weight: 700;
}

.nav__link:hover {
    opacity: 1;
    cursor: pointer;
}


// MEDIA

@media only screen and (max-width: 650px) {
    .nav__link {
        font-size: 13px;
        line-height: 16;
    }
}



// PHONE

@media only screen and (max-width: 576px) {
    .nav {
        display: none;
        height: 100vh;
        width: 85%;
        top: 0;
        right: 0;
        position: absolute;
        background-color: $secondary-mirage-blue;
        position: fixed;
        z-index: 1;
    }

    .nav__list {
        flex-direction: column;
        margin-top: 129px;
    }

    .intro__hr {
        display: block;
        width: 300px;
        height: 1px;
        background-color: $main-white;
        border: none;
        opacity: 0.15;
        margin-top: -40px;
    }

    .nav__item {
        margin: 0;
    }

    .nav__link {
        line-height: 24px;
        font-size: 20px;
        color: $main-white;
        margin-bottom: 32px;
    }

    .nav__link1 {
        margin-top: 50px;
    }

    .toggle-close .toggle__line::after {
         display: none;
    }

    .toggle-close .toggle__line {
        background-color: $main-white;
        position: fixed;
        transform: rotate(45deg);
    }

    .toggle-close .toggle__line::before {
        margin-top: 8px;
        background-color: $main-white;
        position: fixed;
        transform: rotate(-90deg);
    }


    .nav-open {
        display: block;
    }
}
