.simple {
    position: relative;
    height: 610px;
    margin-bottom: 100px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }

    &__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: $secondary-juan-blue;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 15px;
        line-height: 28px;
        color: $third-light-juan-blue;
        font-weight: 400;
        width: 445px;
    }

    &__phones {
        margin-left: 60px;
    }
}


.simple__bg {
        background-image: url(../images/simple-bg.png);
        background-repeat: no-repeat;
        background-position: right center;
        height: 780px;
        position: absolute;
        width: 390px;
        right: 0;
        top: -136px;
        z-index: -1;
}


// MEDIA

@media only screen and (max-width: 1345px) {
    .simple__phones {
        margin-left: 0;
        width: 500px;
    }
}

@media only screen and (max-width: 965px) {
    .simple__phones {
        width: 440px;
    }

    .simple__title {
        font-size: 40px;
        line-height: 50px;
    }

    .simple__text {
        font-size: 14px;
        line-height: 26px;
        width: 255px;
    }

}


@media only screen and (max-width: 768px) {
    .simple {
        // margin-bottom: 100px;
    }

    .simple__box {
        flex-direction: column-reverse;
        text-align: center;
    }

    .simple__phones {
        width: 722px;
    }

    .simple__title {
        font-size: 48px;
        line-height: 56px;
    }

    .simple__text {
        font-size: 15px;
        line-height: 28px;
        width: 573px;
    }

    .simple__bg {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .simple__text {
        width: 425px;
    }

    .simple__phones {
        margin-left: 40px;
    }
}


@media only screen and (max-width: 576px) {
    .simple {
        margin-bottom: 0;
    }

    .simple__phones {
        width: 328px;
    }

    .simple__title {
        line-height: 36px;
        width: 327px;
        font-size: 36px;
        text-align: center;
    }

    .simple__text {
        line-height: 28px;
        width: 328px;
        text-align: center;
        font-size: 15px;
    }
}